@font-face {
    font-family: 'myfont';
    src: url('/Fonts/Game\ of\ Thrones.ttf') format('truetype');
}

* {
    font-family: 'myfont';
}

body {
    background-color: black;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.game-start p {
    font-size: 18px;
    font-family: 'myfont';
    color: white;
    text-align: center;

}

.space-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.game-start figure {
    font-size: 12px;
    font-family: 'myfont';
    color: white;

}

.game-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-char {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 800px;

}

.hidden {
    display: none;
}

.message-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

#end-message {
   position: relative;
    bottom: 550px;
    text-align: center;
    line-height: 100px;
    text-shadow: 8px 5px black;
    /* right: 200px; */
    font-size: 40px;
    color: red;
    z-index: 2;
    font-family: 'myfont';
    word-spacing: 20px;
}

#wall {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
} 


