@font-face {
    font-family: 'myfont';
    src: '/Users/laurasantos/Library/Fonts/Game of Thrones.ttf' format(truetype);
}

body {
    background-color: black;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.game-start p {
    font-size: 18px;
    font-family: 'Game of Thrones';
    color: white;
}

.space-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.game-start figure {
    font-size: 12px;
    font-family: 'Game of Thrones';
    color: white;

}

.center-char {
    width: 50%;
    float: left;
    /*padding: 20px; */
}

.hidden {
    display: none;
}

.message-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    min-height: 200px;
    justify-content: center;
    align-items: center;
}

#end-message {
   position: relative;
    bottom: 325px;
    left: 300px;
    text-align: center;
    line-height: 50px;
    text-shadow: 5px 3px black;
    /* right: 200px; */
    font-size: 30px;
    color: red;
    z-index: 2;
    font-family: 'Game of Thrones';
    word-spacing: 5px;
}

#wall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
} 


